<div id="app" ng-click="ctrl.kill()">
  <div ng-controller="AppCtrl" class="jumbotron">
    <h1>angular {{test.example}}</h1>
  </div>
  <div ng-show="test.example">
      WORKING
      <app-form
          addnew="addNew">

      </app-form>
  </div>
  <div ng-show="!test.example">
      LOADING 'SPINNER GIF'
  </div>



<div class="container">
  <table class="table table-striped">
      <tr ng-repeat="user in users"
          user="user"/>
          <td>{{user.name}}</td>
          <td>{{user.phone}}</td>
          <td>{{user.email}}</td>
      </tr>
  </table>
</div>

</div>